/* ======== ESTILOS GENERALES ======== */
body {
  margin: 0;
  font-family: sans-serif;
  background-image: url(/src/assets/images/fondo_suave.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.85);
  background-blend-mode: lighten;
  color: #222;
}

/* ======== IMÁGENES DE LIBROS ======== */
.libro-imagen {
  height: 180px;
  object-fit: cover;
}

/* ======== PIE DE PÁGINA PERSONALIZADO ======== */
footer span#tw {
  color: rgb(23, 136, 217);
}

footer span#ig {
  color: rgb(222, 36, 29);
}

/* ======== RESPONSIVE HEADER ======== */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem !important;
  }

  header img {
    height: 50px !important;
  }
}