body {
    background-color: rgb(197, 148, 148);
}

h1 {
    text-decoration: underline 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    border: 3px solid black;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
    text-align: center;
}

p {
    font-size: 23px;
    line-height: 30px;
    color: rgb(72, 41, 41);
}